/*
* Type:
* • filled (par défaut) :   Bouton plein
* • outline :               Bouton vide mais avec contour
* • semi-filled :           Bouton plein mais avec fond semi-transparent
* • semi-filled-outline :   Bouton vide mais avec contour semi-transparent
* • clear :                 Bouton vide
*/

.button {
  display: inline-block;

  font-size: 16px;
  text-decoration: none;
  text-align: center;

  border-radius: 4px;

  margin: 0 2px;
  padding: 4px 32px;

  background-color: var(--primary500);
  color: white;

  transition: 0.1s;
}

.button:hover {
  background-color: var(--primary600);
  color: var(--gray100);
}

.button:active {
  background-color: var(--primary700);
  color: var(--gray200);
}

.button-outline, .button-outline:hover, .button-outline:active,
.button-semi-filled-outline, .button-semi-filled-outline:hover, .button-semi-filled-outline:active {
  background-color: transparent;
  padding: 2px 30px;
}

.button-outline {
  border: 2px solid var(--primary500);
}

.button-outline:hover {
  border: 2px solid var(--primary600);
  color: var(--gray100);
}

.button-outline:active {
  border: 2px solid var(--primary700);
  color: var(--gray200);
}

.button-semi-filled {
  background-color: var(--primary500-10);
  color: var(--primary500);
}

.button-semi-filled:hover {
  background-color: var(--primary600-10);
  color: var(--primary600);
}

.button-semi-filled:active {
  background-color: var(--primary700-10);
  color: var(--primary700);
}

.button-semi-filled-outline {
  border: 2px solid var(--primary500-10);
  color: var(--primary500);
}

.button-semi-filled-outline:hover {
  border: 2px solid var(--primary600-10);
  color: var(--primary600);
}

.button-semi-filled-outline:active {
  border: 2px solid var(--primary700-10);
  color: var(--primary700);
}

.button-clear {
  background-color: transparent;
  color: var(--primary500);
}

.button-clear:hover {
  background-color: var(--primary600-5);
  color: var(--primary600);
}

.button-clear:active {
  background-color: var(--primary700-10);
  color: var(--primary700);
}