.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary700-10);
  border-bottom: 2px solid var(--primary700-10);

  padding: 13px;
  margin: 0 auto 40px auto;

  height: auto;
}

.navbar .logo-link {
  height: 48px;
}
.navbar .navbar-menu {
  font-size: 18px;
  padding: 4px;
  display: none;
}

.navbar .navbar-menu:hover {
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 576px) {

  .navbar {    
    align-items: space-between;
  }

  .navbar .navbar-menu {
    display: block;
  }
  
  .navbar .navbar-buttons {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .navbar input[type='checkbox']:checked ~ .navbar-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .navbar input[type='checkbox']:checked ~ .navbar-buttons a.button {
    width: 40%;
  }
  
}

.navbar .logo:hover {
  animation: 10s linear shy-logo;
}

@keyframes shy-logo {
  0% {
    filter: brightness(1);
  }

  10% {
    filter: brightness(1.5);
    transform: scale(1);
  }

  10.5% {
    filter: brightness(1.65);
    transform: scale(1.1);
    opacity: 100%;
  }

  18%, 20% {
    filter: brightness(1);
    transform: scale(0.95);
    opacity: 50%;
  }

  35% {
    transform: scale(0.95) translateX(-75px) rotate(-90deg);
    opacity: 50%;
  }
  
  50% {
    transform: scale(0.95) translateX(-75px) rotate(-15deg);
    opacity: 50%;
  }

  65%, 70% {
    transform: scale(0.95) translateX(-45px) rotate(15deg);
    opacity: 50%;
  }

  75%, 85% {
    transform: scale(0.95) translateX(-35px) rotate(10deg);
    opacity: 65%;
  }

  95% {
    transform: scale(0.95) translateX(0px) rotate(0deg);
    opacity: 65%;
  }

  100% {
    transform: scale(1) translateX(0px) rotate(0deg);
    opacity: 100%;
  }
}